transformers
diffusers
datasets==2.18.0
accelerate
google-generativeai
anthropic
openai
sentencepiece 
scikit-learn
shortuuid
opencv-python
spacy
supervision
addict
yapf
sentry_sdk
easyocr
pycocotools
timm
-e git+https://github.com/openai/CLIP.git@main#egg=clip